.card-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-card {
    box-shadow: 3px 3px 7px #7e7edd;
}

.login-title {
    text-align: center;
    color: #5f5fee;
}

.fields-error {
    color: red;
    font-size: 12px;
}

.button {
    width: 100%;
    color: #5f5fee;
    border-color: #5f5fee;
}

.button:hover {
    background-color: #5f5fee;
    color: whitesmoke;
}

.login-password-field-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-container {
    position: relative;
}

.error {
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0 5px;
    color: red;
    font-size: 12px;
    z-index: 9;
}

.pswd-error {
    color: red;
    font-size: 12px;
}

.input-group-text {
    background-color: whitesmoke;
}

/* Hide the default "show password" icon in Edge */
input[type="password"]::-ms-reveal {
    display: none;
}

/* Hide the default "show password" icon in other browsers */
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}

/* Hide the default icon on Firefox */
input[type="password"]::-moz-placeholder {
    display: none;
}

input[type="checkbox"]:checked {
    background-color: #5f5fee;
}

input:focus {
    box-shadow: 0 0 2px #5f5fee;
}
