<div class="card-container">
    <div class="card login-form-card" style="width: 21rem;">
        <div class="card-body">
            <h3 class="card-title login-title mb-3">Login</h3>
            <form class="needs-validation" [formGroup]="loginForm">
                <div class="mb-3">
                    <div class="field-container">
                        <span class="error"
                            *ngIf="loginForm.get('username')?.hasError('required') && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">*Required</span>
                        <input type="username" name="username" class="form-control" id="username"
                            placeholder="User Name" formControlName="username">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="field-container">
                        <span class="error"
                            *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">*Required</span>
                        <input [type]="loginPasswordEyeOpen ? 'text' : 'password'" name="password" class="form-control"
                            id="password" placeholder="Password" formControlName="password">
                        <span class="pswd-error"
                            *ngIf="loginForm.get('password')?.hasError('pattern') && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">Should
                            contain
                            atleast 1 capital letter, 1 numeric, 1 small letter, and 1 alphanumeric character (Between
                            4-10
                            digits)</span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="field-container">
                        <ngx-recaptcha2 [siteKey]="siteKey" formControlName="recaptcha"></ngx-recaptcha2>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <label class="form-check-label" for="showPassword">
                        <input type="checkbox" class="form-check-input" id="showPassword"
                            (change)="loginPasswordEyeToggle()">
                        Show password
                    </label>
                </div>
                <button type="button" class="btn button" (click)="loginUser()">Login</button>
            </form>
        </div>
    </div>
</div>