#home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
.card:hover .icon{
    color: var(--color-5f5fee);
}
.card:hover{
    box-shadow: 0 0 5px var(--color-5f5fee);
    scale: 1.03;
    transition-duration: 0.2s;
}
.card-body{
    position: relative;
    cursor: pointer;
    background-color: var(--color-f5f5f5);
    min-height: 5rem;
    z-index: 0;
}
.icon{
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--color-8888f3);
    font-size: 3rem;
    z-index: -1;
}