<h2 class="pt-4 fs-1">Sub-Contractor</h2>

<div class="btn-container pt-md-5 pt-3 px-md-5 px-3 pb-2">
    <button *ngIf="createAccess" data-bs-toggle="modal" data-bs-target="#subContractor-modal" class="add-btn btn btn-outline-primary mb-2"
        (click)="addSubContractorGetDto()">Add
    </button>
    <button class="add-btn btn btn-outline-primary margin-left mb-2" (click)="
        exportToPdf()">
        <i class="fa-solid fa-file-pdf"></i> Print to PDF
    </button>
    <button class="add-btn btn btn-outline-primary margin-left mb-2" (click)="exportToExcel()">
        <i class="fa-solid fa-file-excel"></i> Print to Excel
    </button>
    <div class="input-group mb-2">
        <input #searchInput (input)="setSearchValue(searchInput.value)" type="text" class="form-control input-search" placeholder="Search: Sub-Contractor Name" aria-label="Search by Sub-Contractor Name" aria-describedby="search-btn">
        <div class="input-group-append">
            <span class="input-group-text btn-search" id="search-btn" (click)="onSearch()">Search</span>
        </div>
    </div>
</div>

<app-table [data]="data" [displayedColumns]="displayedColumns" [columnsInfo]="columnsInfo">
</app-table>

<ng-template #actionTemplateRef let-row>
    <i class="fa-regular fa-eye icon" data-bs-toggle="modal" data-bs-target="#subContractor-modal"
    (click)="viewAndEditSubContractorGetDto(row,'view')"></i>
    <i *ngIf="editAccess" class="fa-regular fa-pen-to-square icon" data-bs-toggle="modal" data-bs-target="#subContractor-modal"
    (click)="viewAndEditSubContractorGetDto(row,'edit')"></i>
    <i *ngIf="deleteAccess" class="fa-solid fa-trash icon" (click)="deleteRowData(row.id)"></i>
</ng-template>

<div class="modal fade" [formGroup]="subContractorForm" id="subContractor-modal" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <form class="modal-content">
            <div class="modal-header d-flex justify-content-between">
                <h1 *ngIf="modalMode === 'edit'" style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Edit</h1>
                <h1 *ngIf="modalMode === 'add'" style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">Add</h1>
                <h1 *ngIf="modalMode === 'view'" style="color: whitesmoke;" class="modal-title fs-5 fw-bolder">View</h1>
                <button type="reset" class="btn close-btn" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <!-- <div class="mb-3">
                    <label for="companyId" class="mb-1">Company Name <span style="color: red;">*</span>
                        <span *ngIf="
                    this.subContractorForm.get('companyId')?.hasError('required') &&
                    (this.subContractorForm.get('companyId')?.dirty ||
                      this.subContractorForm.get('companyId')?.touched)
                  " style="color: red">Required</span>
                    </label>
                    <select name="companyId" id="companyId" formControlName="companyId" class="form-control">
                        <option value="">--Select--</option>
                        <option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}</option>
                    </select>
                </div> -->
                <div class="mb-3">
                    <label for="name" class="mb-1">Sub-Contractor Name <span *ngIf="modalMode !== 'view'" style="color: red;">*</span>
                        <span *ngIf="modalMode !== 'view' &&
                    this.subContractorForm.get('name')?.hasError('required') &&
                    (this.subContractorForm.get('name')?.dirty ||
                      this.subContractorForm.get('name')?.touched)
                  " style="color: red">Required</span>
                    </label>
                    <input type="text" id="name" class="form-control" formControlName="name" placeholder="Sub-Contractor Name">
                </div>
            </div>
            <div class="modal-footer">
                <button class="add-btn btn btn-outline-primary" type="button"
                    *ngIf="modalMode !== 'view'"
                    (click)="saveSubContractorGetDto()">Save</button>
                <button class="btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close" type="reset"
                    (click)="closeModal()">{{(modalMode !== 'view')?'Cancel':'Close'}}</button>
            </div>
        </form>
    </div>
</div>